@import "normalize";
@import "bootstrap";

$primary-color:				 #F44336;
$primary-color-dark:	 #D32F2F;
$primary-color-light:	 #FFCDD2;
$primary-color-text:	 #FFFFFF;
$accent-color:				 #FF5722;
$primary-text-color:	 #212121;
$secondary-text-color: #757575;
$divider-color:				 #BDBDBD;
$color-text-icons: #FFFFFF;

$fb-color: #365899;


$side-bar-width: 280px;
$side-bar-color: #FFFFFF;
$navbar-heigh: 65px;

h1, h2, h3, h4 {
	margin: 0;
}

ul{
	list-style: none;
}

textarea {
	resize: none;
}

.btn-success-confirm {
	background-color: $accent-color;
	color: $primary-color-text
}

.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.primary-color {
	color : $primary-color;
}

.primary-color-dark {
	color: $primary-color-dark;
}

.primary-color-light {
	color: $primary-color-light;
}

.primary-color-text {
	color: $primary-color-text;
}

.accent-color {
	color: $accent-color;
}

.primary-text-color {
	color: $primary-text-color;
}

.secondary-text-color {
	color: $secondary-text-color;
}

.divider-color {
	color: $divider-color;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}
.receta-card {
	border-bottom: 2px solid gainsboro;
	padding-bottom: 20px;
	font-size: 16px;
}

.receta-card-header {
	padding: 10px 10px;
}

.receta-imagen {
	width: 100%;
}

.receta-fecha-wrapper {
	text-align: right;
}

.divider {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid $divider-color;
}

.nav-bar {
	background: $primary-color;
	height: $navbar-heigh;
	padding: 10px 5px;
	position: fixed;
	width: 100%;
	z-index: 2;
}

.button-menu {
	font-size: 30px;
}

.side-bar {
	background: $side-bar-color;
	height: 100%;
	position: fixed;
	width: $side-bar-width;
	z-index: 3;
	/*left: - $side-bar-width;*/
	display: none;
}

.side-bar-top {
	min-height: 200px;
	text-align: center;
	padding-top: 30px;
}

.menu-lista {
	font-size: 18px;
}

.content { 
	padding-top: $navbar-heigh;
}

.registro-titulo {
	color: $primary-text-color;
	margin-top: 15px;
	text-align: center;
}

.registro-subtitulo {
	color: $secondary-text-color;
	text-align: center;
}

.registro-boton {
	background-color: $secondary-text-color;
	color: $color-text-icons;
}

.registro-form {
	padding: 20px 0px 0px 0px;
}

.registro-fb-wrapper {
	text-align: center;
}

.registro-fb-boton {
	background-color: $fb-color;
	color: $color-text-icons;
	padding: 10px 30px;
}

.side-bar-top-content {
	padding: 15px;
}

.menu-usuario-nombre {
	color: $primary-text-color;
	text-decoration: none;
	font-size: 18px;
}

.ingreso-titulo {
	margin-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.ingreso-btn {
	background-color: $secondary-text-color;
	color: $color-text-icons;
}

.estado-receta-titulo {
	text-align: center;
	font-size: 28px;
	margin-top: 15px;
	padding-bottom: 30px;
}

.estado-receta-item {
	font-size: 20px;
	margin-bottom: 25px;
}

.estado-receta-lista {
	a { 
		color: $primary-text-color;
	}
}

.estado-receta-item-paso {
	padding: 5px 10px;
	border: 1px solid;
	border-radius: 50px;
}

.estado-receta-items-wrapper {
	width: 80%;
	margin: 0 auto;
}

.estado-receta-iniciar {
	background-color: $accent-color;
	color: $color-text-icons;

}

.container-float-acciones {
	text-align: right;
	position: fixed;
	width: 100%;
	bottom: 0;
	padding-bottom: 40px;
	padding-right: 30px;
}

.receta-descripcion-form {
	padding-top: 20px;
}

.receta-descripcion-boton {
	background-color: $accent-color;
	width: 100%;
	color: $color-text-icons;
}

.receta-navbar-title {
	padding-top: 15px;
	font-weight: bold;
	color: $color-text-icons;
}

.receta-imagenes-form {
	padding-top: 20px;
}

.receta-imagenes-boton {
	width: 100%;
}

.receta-imagenes-titulo {
	text-align: center;
}

.receta-ingredientes-crear {
	padding-top: 10px;
	padding-bottom: 10px;

	.alert {
		padding: 5px !important;
	}
}

.receta-ingrediente-boton {
	margin: 5px;
}

.receta-ingredientes-form {
	text-align: right;
}

.receta-ingredientes-lista {
	margin: 0;
	padding: 0;
}

.receta-ingredientes-lista-wrapper {
	padding-bottom: 50px;
}

.receta-ingredientes-item {

	border-bottom: 1px solid gainsboro;
	padding: 5px;

	.receta-ingredientes-item-descripcion-wrapper {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

.receta-ingredientes-item-borrar {
	padding: 10px;
	text-decoration: none !important;
}

.receta-ingredientes-titulo {
	color: $secondary-text-color;
	font-size: 16px;
	padding-top: 10px;
	text-align: center;
}

.modal-dialog{
	top:20%;
}

.receta-ingredientes-preparacion-btn {
	bottom: 0;
	padding-bottom: 5px;
	position: fixed;
	text-align: center;
	width: 100%;
}

.preparacion-continuar-btn {
	background-color: $accent-color;
	color: $primary-color-text;
}