@import "normalize";
@import "bootstrap";

$primary-color:				 #F44336;
$primary-color-dark:	 #D32F2F;
$primary-color-light:	 #FFCDD2;
$primary-color-text:	 #FFFFFF;
$accent-color:				 #FF5722;
$primary-text-color:	 #212121;
$secondary-text-color: #757575;
$divider-color:				 #BDBDBD;
$color-text-icons: #FFFFFF;

$fb-color: #365899;


$side-bar-width: 280px;
$side-bar-color: #FFFFFF;
$navbar-heigh: 65px;

h1, h2, h3, h4 {
	margin: 0;
}


.primary-color {
	color : $primary-color;
}

.primary-color-dark {
	color: $primary-color-dark;
}

.primary-color-light {
	color: $primary-color-light;
}

.primary-color-text {
	color: $primary-color-text;
}

.accent-color {
	color: $accent-color;
}

.primary-text-color {
	color: $primary-text-color;
}

.secondary-text-color {
	color: $secondary-text-color;
}

.divider-color {
	color: $divider-color;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}
.receta-card {
	border-bottom: 2px solid gainsboro;
	padding-bottom: 20px;
	font-size: 16px;
}

.receta-card-header {
	padding: 10px 10px;
}

.receta-imagen {
	width: 100%;
}

.receta-fecha-wrapper {
	text-align: right;
}

.divider {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid $divider-color;
}

.nav-bar {
	background: $primary-color;
	height: $navbar-heigh;
	padding: 10px 5px;
	position: fixed;
	width: 100%;
	z-index: 2;
}

.button-menu {
	font-size: 30px;
}

.side-bar {
	background: $side-bar-color;
	height: 100%;
	position: fixed;
	width: $side-bar-width;
	z-index: 3;
	/*left: - $side-bar-width;*/
	display: none;
}

.side-bar-top {
	min-height: 200px;
	text-align: center;
	padding-top: 30px;
}

.menu-lista {
	font-size: 18px;
}

.content { 
	padding-top: $navbar-heigh;
}

.registro-titulo {
	color: $primary-text-color;
	margin-top: 15px;
	text-align: center;
}

.registro-subtitulo {
	color: $secondary-text-color;
	text-align: center;
}

.registro-boton {
	background-color: $divider-color;
	color: $color-text-icons;
}

.registro-form {
	padding: 20px 0px 0px 0px;
}

.registro-fb-wrapper {
	text-align: center;
}

.registro-fb-boton {
	background-color: $fb-color;
	color: $color-text-icons;
	padding: 10px 30px;
}
